{% extends "base.html" %}
{% block style %}

{% endblock style %}
<link href="/static/css/login.css" rel="stylesheet">

{% block content %}
<div class="container">
<div class="wrapper">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="user" id="user_text" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" id="password_text" placeholder="Password" required=""/>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
        <a href="/register">Need an account?</a>
    </form>
</div>

</div>

{% endblock %}
