{% extends "base.html" %}
<title>Bootstrap Example</title>

{% block content %}
<div class="container">
<h3>Notes</h3>
    <hr>
    <form class="form-inline" action="/search" method="get">
              <input class="form-control" type="text" placeholder="Search Notes" aria-label="Search" id="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="doSearch()">Search</button>
    </form>
    <hr>
    <div id="content"></div>
    <hr>
    <form method="post" action="/notes">
        <table class="table table-bordered">
            <tr>
                <td>Note</td>
                <td><input type="text" id="note_text" name="note" value=""/></td>
                <input type="text" id="note_id" name="note_id" value="" hidden/>
            </tr>
            <tr>
                <td></td>
                <td style="float:right"><input type="submit" id="submit_button" value="Submit"/></td>
            </tr>
        </table>
    </form>
    <hr>


<table class="table">
    <thead>
    <tr>
        <th>Note</th>
        <th>Pub Date</th>
        <th>Author</th>
        <th>Operate</th>
    </tr>
    </thead>
    <tbody>
    {% for note in notes %}
    <tr>
    <td id="note-{{ note['id'] }}">{{ note['text'] }}</td>
    <td>{{ convert_timestamp(note['time']) }}</td>
    <td>{{ note['user'] }}</td>
    <td>
        {% if note['user'] == session['user'] %}
        <a href="#note_text" type="button" class="btn btn-primary" onclick="editNote({{ note['id'] }})">Edit</a>
        <a href="/remove/{{ note['id'] }}" type="button" class="btn btn-danger">Delete</a>
        {% else %}
        <a href="#note_text" type="button" class="btn btn-primary disabled" onclick="editNote({{ note['id'] }})">Edit</a>
        <a href="/remove/{{ note['id'] }}" type="button" class="btn btn-danger disabled">Delete</a>
        {% endif %}

    </td>
    </tr>
    {% endfor %}
    </tbody>

</table>


</div>


{% endblock %}

{% block script %}
    <script>
    function editNote(note_id) {
        let note_text = document.getElementById('note-'+note_id).textContent;
        {#console.log(note_id);#}
        {#console.log(note_text);#}
        document.getElementById('note_text').value = note_text;
        document.getElementById('note_id').value = note_id;

    }

    function doSearch() {
        let key_word = document.getElementById('search').value;

        if (key_word !== ''){
            {#console.log('hello');#}

            window.location = '/search/'+key_word;
        }

    }
    </script>

{% endblock script %}