{% extends '_layout.html' %}

{% block nav %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Note Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#theNavBar" aria-controls="theNavBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="theNavBar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notes">Notes</a>
            </li>
{#            <li class="nav-item dropdown">#}
{#              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
{#              <div class="dropdown-menu" aria-labelledby="dropdown07">#}
{#                <a class="dropdown-item" href="#">Action</a>#}
{#                <a class="dropdown-item" href="#">Another action</a>#}
{#                <a class="dropdown-item" href="#">Something else here</a>#}
{#              </div>#}
{#            </li>#}
          </ul>

          <ul class="nav navbar-nav navbar-right">
    {% if not session['key'] %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">register</a>
                </li>
      {% else %}
                <li><a class="nav-link" href="/profile">Profile</a></li>
                <li><a class="nav-link" href="/reset">Reset</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
                <li><a class="nav-link" href="/feedback">Feedback</a></li>
    {% endif %}

            </ul>
        </div>


      </div>
    </nav>

{% endblock nav %}

{% block footer %}

<footer class="footer">
      <div class="container">
        <p>Powered By flask + tinyDB + Bootstrap + jQuery<span class="float-md-right">Hao Liu Notes Extra Credit @2019</span></p>

      </div>
</footer>

{% endblock %}
